// 公用样式定义
.f_l {
    float: left;
}
.f_r {
    float: right;
}
.clearFix:after {
    content: '';
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}
.clearFix {
    display: inline-block;
    zoom: 1;
}
.clearFix {
    display: block;
}
.w-center {
    width: 1360px;
    margin: 0 auto;
}
.pos-r {
    position: relative;
}
.no-data{
    font-size:23px;
    text-align: center;
    padding:60px 0 80px;
    
    font-weight: 400;
    min-height: 200px;
    color:#666;
}
